@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  box-sizing: border-box;
}

body{
	border: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
 /*......................................................start of the first page....................................................*/
.first-page{
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url(watchingtv.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  color: white;
  height: 100vh;
  text-align: center;

}

@media screen and (max-width: 800px){
  .first-page{
    height: auto;
    font-size: 20px;
    padding: 0px;
  }
}

.first-page .intro{
  text-align: center;
  padding: 200px;
}


@media screen and (max-width: 800px){
  .first-page .intro h1{
    font-size:15px;
    padding: 0;
  }
}

.topnav .logo{
  float: left;
  letter-spacing: 15px;
  text-shadow: px 2px;
}
.topnav .logo:hover{
  background-color: black;
  color: #fff;

}

/*start of menu*/
/* Add a black background color to the top navigation */
.topnav{
  overflow: hidden;
  background-color: black;
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
}

/* Style the links inside the navigation bar */
.topnav a{
  display:  inline-block;
/*  display: inline-flex;*/
 /* I used inline-flex to
 hide the whole content of the menu when it size to 600px*/
  color: #ffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover{
  background-color: #ddd;
  color:black;

}
/* Add an active class to highlight the current page */
.topnav a.active{
  background-color: #C20808;
  color: #ffff;
  border-radius: 5px;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon{
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px){
  .topnav a:not(:first-child){display: none;}
  .topnav a.icon{
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px){
  .topnav.responsive{position: relative;}
  .topnav.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}


/*start of service*/

.services{
  text-align: center;
  padding: 50px;
}
/* Container for flexboxes */
.container-fluid{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.container-fluid h1 .fas{
  color: #C20808;
}
/* Create four equal columns */
.movie-1{
  flex: 30%;
  padding: 50px;

}
.movie-2{
  flex: 30%;
  padding: 50px;
}
.movie-3{
  flex: 30%;
  padding: 50px;
}

.movie-4{
  flex: 30%;
  padding: 50px;
}
.movie-5{
  flex: 30%;
  padding: 50px;
}
.movie-6{
  flex: 30%;
  padding: 50px;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media(max-width: 800px){
  .movie-1, .movie-2, .movie-3, .movie-4, .movie-5, .movie-6{
    flex: 100%;
  }
}

/*start of price*/
.price-page{
  padding-bottom: 800px;
}
.h1-price{
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}


.columns{
  float: left;
  width: 25%;
  padding: 8px;
}



.price{
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.price:hover{
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .myPrice{
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li{

  padding: 20px;
  text-align: center;
}

.myPrice{
  border-radius: 5px;
}
.grey{
  border-radius: 5px;
}
.price .grey{
  background-color: #eee;
  font-size: 20px;
}

.button{
  background-color: #C20808;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
}

@media only screen and (max-width: 600px){
  .columns {
    width: 100%;
  }
}
/*Start of frequently ask question*/
 .container-fluid-faq{
  padding: 100px;
 }
 .myFaq{
  text-align: center;
  font-size: 50px;
 }
 .myParagraph-Faq{
  text-align: center;
  font-size: 20px;
 }
 .accordion{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
 }
 .active, .accordion:hover{
  background-color: #ccc;
 }
 .accordion:after{
  content: '\002B';  /*gives the plus sign*/
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
 }
 .active:after{
  content: "\2212";
 }
 .panel{
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
 }

 footer{
  text-align: center;
  height: 100px;
  background-color:black;
  color: #fff;
 }

 footer .conditions .myConditions a{
  color: #fff;
  text-decoration: none;
 }

 footer .messenger .myMessenger .fab{
  color: #fff;
 }
 footer .messenger .myMessenger .fas{
  color: #fff;
 }
 /* Button used to open the chat form - fixed at the bottom of the page */
 .open-button{
  background-color: #555;
  color: #fff;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 5px;
 }
 .open-button .fas{
  font-size: large;
 }
 .chat-popup{
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
 }
 /* Add styles to the form container */
.form-container{
  max-width: 300px;
  padding: 10px;
  background-color: white;

}
/* Full-width textarea */
.form-container textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
/* When the textarea gets focus, do something */
.form-container textarea:focus{
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/send button */
.form-container .btn{
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel{
  background-color: #C20808;
}

/* Add some hover effects to buttons */

.form-container .btn:hover, .open-button:hover{
  opacity: 1;
}